@import "$HOME/.local/share/ewwii/colors";

// remove all gtk theme css
* {
  all: unset;
}

// == Top bar styles == //
.top-bar {
  border-radius: 10px;
  background: $background-color;
  margin: 5px;
}

// == Left side == //
.workspace {
  background: $background-color-secondary;
  border-radius: 20px;
  padding: 4px 10px;
}

.workspace button:hover {
  color: $highlight;
}

.sidebar-revealer {
  background: $background-color-secondary;
  border-radius: 20px;
  padding: 4px 8px;
  padding-right: 12px;
  color: #ffffff;

  &:hover {
    color: darken(#ffffff, 15%);
  }
}

// == Center == //
.search-btn {
  $color-str: inspect($background-color-secondary);
  $encoded-color: "%23#{str-slice($color-str, 2)}";

  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 40'><polygon points='10,0 100,0 90,40 0,40' fill='#{$encoded-color}'/></svg>");
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  padding: 6px 20px;
  margin-right: 16px;
}

// == Right side == //
.time-wdgt {
  background: $background-color-secondary;
  border-radius: 20px;
  padding: 6px 10px;
}

.power-wdgt {
  background: $background-color-secondary;
  border-radius: 20px;
  color: $highlight;
  padding: 4px 8px;
  padding-right: 10px;
  font-size: 15px;

  &:hover {
    color: darken($highlight, 15%);
  }
}

// == Powermenu styles == //
.power-menu {
  border: 2px solid $background-color-light;
  background: transparent;
  padding: 10px;
  animation: SlideInBottom 0.2s ease-out forwards;
}

.power-menu-content-box {
  background: $background-color;
  border-radius: 10px;
}
.power-menu button {
  background: $background-color;
  color: white;
  padding: 6px;
  font-size: 15px;
  border-radius: 10px;
  margin-bottom: 5px;
  border: 0.5px solid $background-color-light;

  &:hover {
    color: $highlight;
    border-color: $highlight;
  }
}

.power-menu .shutdown-btn {
  color: $highlight;
  border: 1px solid $highlight;

  &:hover {
    background: $highlight;
    color: black;
  }
}

.bottom-dock {
  border-radius: 10px;
  border: 0.1px solid white;
}

// == sidebar styles == //
.sidebar-content-box {
  background: $background-color;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid $background-color-light;
  animation: SlideInBottom 0.2s ease-out forwards;
}

.sidebar-content-box button {
  padding: 6px;
}

.sidebar-content-box .cal-box {
  color: white;
  padding: 8px;
  font-size: 14px;
  border-radius: 10px;
  margin-bottom: 5px;
  border: 0.5px solid $background-color-light;

  &:hover {
    color: $highlight;
    border-color: $highlight;
  }
}

.sidebar-text-box {
  color: white;
  padding: 8px;
  font-size: 14px;
  border-radius: 10px;
  margin-bottom: 5px;
  border: 0.5px solid $background-color-light;
}

.metric scale trough highlight {
  background-color: $highlight;
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 10px;
  min-width: 90px;
  margin: 5px;
}

// == Time styles == //
.time {
  font-size: 100px;
  font-weight: bold;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba($background-color, 15%);
  border: 2px solid rgba($background-color-light, 15%);
  margin-bottom: 38px;
}

// == calendar styles == //
.calendar {
  color: $dark-calendar-text;
  background-color: $background-color;
  border-radius: 10px;
  animation: SlideInLeft 0.2s ease-out forwards;
}

.calendar-in {
  color: #bfc9db;
  border: 2px solid $background-color-light;
  border-radius: 10px;
}

calendar {
  color: $dark-calendar-text;
  padding: 5px;
}

calendar > grid > label.day-number:selected {
  color: $dark-calendar-highlight;
  font-weight: bold;
}

calendar > grid > label {
  color: #ccc;
}

calendar > grid > label.day-number {
  color: $dark-calendar-text;
}

calendar > header {
  color: #a1bdce;
  font-weight: bold;
}

calendar > button {
  color: #afbea2;
}

calendar:indeterminate {
  color: #bfc9db;
}

// == Application menu == //
.app-menu-searchbar, .app-menu-content {
  background: $background-color;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid $background-color-light;
  animation: FadeIn 0.2s linear forwards;
}

.app-menu-searchbar entry selection {
  background-color: lighten($background-color, 10%);
}

.app-menu-content {
  margin-top: 10px;
  border-radius: 10px;
}

.app-menu-list-item {
  background-color: lighten($background-color, 15%);
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0px;
}

.app-menu-list-item:hover {
  background-color: lighten($background-color, 10%);
}

flowboxchild:selected > .app-menu-list-item {
  background-color: lighten($background-color, 5%);
}

// OSD (on screen display)
.volosd {
  background-color: $background-color;
  border: 2px solid $background-color-light;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  animation: FadeIn 0.2s linear forwards;
}

// == Animations == //
@keyframes SlideInBottom {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes SlideInLeft {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
