$background-color: {{colors.background.default.hex}};
$background-color-secondary: {{colors.surface_container_highest.default.hex}};
$outline: {{colors.surface_container.default.hex}};
$highlight: {{colors.primary.default.hex}};
$dark-calendar-text: {{colors.on_surface.default.hex}};
$dark-calendar-highlight: {{colors.tertiary_fixed_dim.default.hex}};
