$background-color: {{colors.background.default.hex}};
$background-color-secondary: {{colors.surface_container_highest.default.hex}};
$background-color-light: #9197ae;
$highlight: {{colors.primary.default.hex}};
$dark-calendar-text: {{colors.on_surface.default.hex}};
$dark-calendar-highlight: {{colors.secondary.default.hex}};
