.dashboard {
	background: $background-color;
	border-radius: 20px;
	font-size: 15px;
	border: 2px solid $background-color-light;
	padding: 10px;
	opacity: 0;
	animation: FadeIn 0.2s linear forwards;
}

.small-font {
	font-size: 12px;
}

.dashboard .close-btn {
	padding: 2px;
	border-radius: 5px;
}

.dashboard .header {
	background-color: lighten($background-color-secondary, 5%);
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
}

.dashboard .welcome_user {
	background-color: lighten($background-color-secondary, 5%);
	border-radius: 10px;
	margin: 5px;
	font-size: 1.5em;
}

.dashboard .dashboard_time {
	font-size: 2em;
}

.dashboard .dashboard_time, .dashboard .music_dashb, .dashboard .notification_tray,
.dashboard .weather, .dashboard .todo {
	background-color: lighten($background-color, 5%);
	padding: 5px;
	margin: 5px;
	border-radius: 10px;
}

.dashboard .weather {
	padding: 60px;
}