.dashboard {
	background: $background-color;
	border-radius: 20px;
	font-size: 15px;
	border: 2px solid $background-color-light;
	padding: 10px;
	will-change: transform, opacity;
	animation: PopupIn 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.small-font {
	font-size: 12px;
}

.dashboard .close-btn {
	padding: 2px;
	border-radius: 5px;
}

.dashboard .header {
	background-color: mix($background-color-secondary, green);
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
}

.dashboard .welcome_user {
	background-color: mix($background-color-secondary, green);
	border-radius: 10px;
	margin: 5px;
	font-size: 1.5em;
}

.dashboard .dashboard_time {
	font-size: 2em;
}

.dashboard .dashboard_time, .dashboard .music_dashb, .dashboard .notification_tray,
.dashboard .weather, .dashboard .todo {
	background-color: $background-color-secondary;
	padding: 5px;
	margin: 5px;
	border-radius: 10px;
}

.dashboard .weather {
	padding: 60px;
}