.dashboard {
	background: $background-color;
	border-radius: 20px;
	font-size: 15px;
	border: 2px solid $background-color-light;
	padding: 10px;
	opacity: 0;
	animation: FadeIn 0.2s linear forwards;
}

.small-font {
	font-size: 12px;
}

.dashboard .close-btn {
	padding: 2px;
	border-radius: 5px;
}

.dashboard .header {
	background-color: lighten($background-color-secondary, 5%);
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
}

.dashboard .welcome_user {
	background-color: lighten($background-color-secondary, 5%);
	border-radius: 10px;
	margin: 5px;
	font-size: 1.5em;
	padding: 2em;
}

.dashboard .dashboard_time {
	font-size: 4em;
	padding: 2em;
}

.dashboard .dashboard_time, .dashboard .notification_tray,
.dashboard .music_dashb, .dashboard .weather, .dashboard .todo {
	background-color: lighten($background-color, 5%);
	padding: 5px;
	margin: 5px;
	border-radius: 10px;
}

.dashboard .todo entry {
	background-color: $background-color;
	border-radius: 5px;
	padding: 5px;
}

.dashboard .todo entry selection {
    background-color: $background-color-secondary;
}

.dashboard .todo .todo-item, .dashboard .notification_tray .notif-item {
	background: $background-color-secondary;
	border-radius: 10px;
	margin: 5px 0px;
	padding: 5px;
}

.dashboard .notification_tray .notif-item .notif-summary {
	font-weight: bold;
}

// delete button
.dashboard .todo .todo-item button, 
.dashboard .notification_tray .notif-item button {
  background: transparent;
  border: none;
  color: $highlight;
  font-size: 1.2rem;
  transition: color 0.2s ease, transform 0.1s ease;
  
  &:hover {
    color: lighten($highlight, 10%);
  }
  
  &:active {
    transform: scale(0.95);
  }
}

.dashboard .music_dashb {
	padding: 2em;
	padding-bottom: 0;
}

.dashboard .music_dashb .music-title {
	background-color: $background-color;
	border-radius: 10px;
}

.dashboard .music_dashb .music-controls {
	font-size: 2.4em;
}

.dashboard .music_dashb .music-controls .special-control {
	margin: 2px;
}

.dashboard .weather .weather-heading {
	font-size: 1.2em;
	font-weight: bold;
	background-color: $background-color;
	padding: 1em;
	border-radius: 10px;
}

.dashboard .weather .weather-msg {
	font-style: italic;
}