.settings {
	background: $background-color;
	border-radius: 20px;
	font-size: 15px;
	border: 2px solid $background-color-light;
	opacity: 0;
	animation: FadeIn 0.2s linear forwards;
}

.bold-label {
	font-weight: bold;
}

.bold-label-heading {
	font-weight: bold;
	color: #82aaf9;
	font-size: 18px;
}

.small-label {
	font-size: 13px;
	color: #82aaf9;
}

.horizontal_rule_dark {
	background-color: $background-color-light; 
	opacity: 0.5;
	padding: 1px;
}

.horizontal_rule {
	background-color: $background-color-light; 
	opacity: 0.2;
	padding: 1px;
}

.settings .sidebar {
	background: darken($background-color, 2%);
	padding: 10px;
	border-radius: 20px;
}

.settings .sidebar button {
	background: $background-color-secondary;
	padding: 5px;
	border-radius: 10px;
	margin: 5px;
}

.settings .content_space {
	padding: 20px;
	padding-bottom: 100px;
}

.settings .theme-button {
	background: $background-color-secondary;
	margin: 5px;
	border-radius: 5px;
	padding: 5px;
}

.input-area {
	background: $background-color-light;
	border-radius: 10px;
	padding: 10px;
}

.input-area selection {
	background-color: darken($background-color-light, 8%);
}

.settings .sidebar .close_btn {
	background: mix($background-color-light, crimson);
}

.settings .page2 .new_wallpaper button {
	border-radius: 10px;
	padding: 10px;
}

.settings .page2 .choose_wallpaper_btn {
	background: $background-color-secondary;
	border-radius: 20px;
}