.settings {
	background: $background-color;
	border-radius: 20px;
	font-size: 15px;
	border: 2px solid $background-color-light;
	opacity: 0;
	animation: FadeIn 0.2s linear forwards;
}

.bold-label {
	font-weight: bold;
}

.bold-label-heading {
	font-weight: bold;
	color: #82aaf9;
	font-size: 18px;
	text-decoration: underline;
}

.settings .sidebar {
	background: darken($background-color, 2%);
	padding: 10px;
	border-radius: 20px;
}

.settings .sidebar button {
	background: $background-color-secondary;
	padding: 5px;
	border-radius: 10px;
	margin: 5px;
}

.settings .content_space {
	padding: 20px;
	padding-bottom: 100px;
}

.settings .page1 .preferred_color button {
	background: $background-color-secondary;
	margin: 5px;
	border-radius: 5px;
	padding: 5px;
}

.settings .page2 .current_wallpaper entry {
	background: $background-color-light;
	border-radius: 10px;
	padding: 10px;
}

.settings .sidebar .close_btn {
	background: mix($background-color-light, crimson);
}

.settings .page2 .new_wallpaper button {
	border-radius: 10px;
	padding: 10px;
}

.settings .page2 .choose_wallpaper_btn {
	background: $background-color-secondary;
	border-radius: 20px;
}